.recentActivityTable {
  margin-top: var(--cl-space-4);
  position: relative;
  height: 100%;
  overflow: auto;
  width: 100%;
}

.tableBody {
  text-align: left;
}

.tableHead {
}

.tableHeaderRow {
  background-color: var(--cl-background-default);
  gap: var(--cl-space-3);
  margin-bottom: var(--cl-space-1);
  text-align: left;
  padding: 0 var(--cl-space-2);
  position: sticky;
  top: 0px;
  height: 48px;
  width: 100%;
  /* z-index: 1; */
}

.tableHeader {
  -webkit-box-align: center;
  border-radius: var(--cl-radius-3) var(--cl-radius-3) 0 0;
  border-bottom: 1px solid var(--cl-border-default);
  color: var(--cl-text-secondary);
  cursor: pointer;
  font-size: var(--cl-font-size-1);
  font-weight: var(--cl-font-weight-bold);
  gap: var(--cl-space-1);
  line-height: var(--cl-line-height-1);
  padding: 0 var(--cl-space-3);
  height: 40px;
  text-align: left;
}

.tableHeader:hover {
  background-color: #f5f5f3;
  border-radius: var(--cl-radius-3);
}

.tableRow {
  -webkit-box-align: center;
  border-radius: var(--cl-radius-3);
  gap: var(--cl-space-3);
  height: 48px;
  padding: 0 var(--cl-space-2);
}

.tableData {
  flex: 1 1 0%;
  font-size: var(--cl-font-size-2);
  line-height: var(--cl-line-height-2);
  padding: var(--cl-space-2) var(--cl-space-3);
  text-align: left;
  min-width: 20px;
  width: auto;
}
